<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		{% for category in categories %}
			<h1>
				<a href="{{ path('adminCategoryShow', {'id' : category.id}) }}">{{category.name}}</a>
			</h1>
			<p>{{category.description}}</p>
			{% for product in category.products %}
				<h2>{{ product.name }}</h2>
			{% endfor %}
			<a href=" {{ path('adminCategoryUpdate', {'id': category.id}) }} ">
				<h3>Modifier</h3>
			</a>
			<a href=" {{ path('adminCategoryDelete', {'id' : category.id}) }} ">
				<h3>Supprimer</h3>
			</a>
		{% endfor %}

	</body>
</html>
