{{ form_start(productForm) }}
<br>
{{ form_label(productForm, 'Nom du produit') }}
{{ form_widget(productForm.name) }}

<br>
{{ form_label(productForm, 'Description du produit') }}
{{ form_widget(productForm.description) }}
<br>
{{ form_label(productForm, 'Prix du produit') }}
{{ form_widget(productForm.price) }}

<br>
{{ form_label(productForm, 'Categorie du produit') }}
{{ form_widget(productForm.category) }}
{{ form_widget(productForm.submit) }}

{{ form_end(productForm) }}
<br>

<a href="{{ path('adminProductList') }}">
	<h1>Retourner a la liste de produits</h1>
</a>
