<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		{% for category in categories %}
			<a href="{{ path('categoryShow', {'id' : category.id}) }}">
				<h1>{{ category.name }}</h1>
			</a>
			<p>{{ category.description }}</p>
			{% for product in category.products %}
				<h2>{{ product.name }}</h2>
			{% endfor %}
		{% endfor %}
		<h3>
			<a href="{{ path('productList') }} ">Aller a la liste de Produits</a>
		</h3>
	</body>
</html>
